.card {
    position: absolute;
    left: 300px;
    border: 1px solid black;
    height: 350px;
    width: 250px;
    animation: moveRight 1s ease-out forwards;
    animation-play-state: paused;
} 

@keyframes moveRight {
    from {
        left: 300px;
    }

    to {
        left: 900px;
    }
}

